extends layout
block content
	.row
		.col-sm-3
			h2 This is about
			p Font Awesome gives you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.
		.col-sm-9
			h2 With its custom template
			p Simply download a CSS file and replace the one in Bootstrap. No messing around with hex values.
