doctype
head
	title page
	meta(charset='utf-8')
	
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
	style
		|ul.nav a{
		|	text-transform: capitalize
		|}
body
	.contanier
		h1= page
		hr
		ul.nav.nav-pills
			each link in links
				li: a(href=link)= link
		hr
		.well
			p First name
			p Last name
		hr
		block content

