extends layout
block content
	p= content
		form(method='post' action='/new')
			fieldset
				.form-group
					label(for='pageurl') Page URL
					input#pageurl.form-control(name='pageurl' type='text')
				.form-group
					label(for='pagename') Page name
					input#pagename.form-control(name='pagename' type='text')
				.form-group
					label(for='pagecontent') Page content
					input#pagecontent.form-control(name='pagecontent' type='text')
				.form-group
					button.btn.btn-primary(type='submit') Add